.app__title {
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.gallery__item {
  width: 30%;
  padding: 10px;
  list-style: none;
}

.popup {
  position: fixed;
  width: 619px;
  height: 425px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
